
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #000000, #1a1a1a, #330000);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 10px 0;
}
.company-name {
  flex: 1; 
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #ff0048;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}


.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.company-name:hover {
  color: #00ffc3;
  text-shadow: 0 0 10px #00ffc3;
  transition: all 0.3s ease-in-out;
}
.b {
  width: 70px;
  height: auto;
  border-radius: 10px;
  margin-left: 20px;
  transition: transform 0.3s ease;
}
.b:hover {
  transform: scale(1.1);
}

.c {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 30px;
}

.c li a {
  text-decoration: none;
  color: #ff005c;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s, transform 0.3s;
  letter-spacing: 1px;
}

.c li a:hover {
  color: #00e0b8;
  transform: scale(1.1);
}


.page-content {
  padding-top: 120px;
}
